

body{     

    background-color: hsl(210, 46%, 95%);  
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;

    padding: 0;
    margin: 0;

    display: grid;
    justify-content: center;
    place-items: center;
}